---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  return b.data.pubDate.getTime() - a.data.pubDate.getTime();
});
const intlFormatter = new Intl.DateTimeFormat("en-SG", {
  day: "numeric",
  month: "long",
});
---

<Layout>
  <main class="px-1 flex-1 grid justify-items-center sm:px-8">
    <div class="border-x-2 max-w-6xl w-full">
      <div
        class="bg-cobalt gutter grid content-center border-b-2 max-h-64 py-4"
      >
        <h1 class="text-3xl sm:text-4xl font-bold text-neutral-100">Posts</h1>
      </div>

      <ul class="divide-y-2" >
        {
          allPosts.map((post) => (
            <li>
              <a
                href={`/posts/${post.slug}`}
                transition:name={`${post.data.title}`}
              >
                <span class="block gutter py-10">
                  <h2 class="font-bold text-2xl sm:text-3xl">
                    {post.data.title}
                  </h2>

                  <p class="text-lg sm:text-xl">{post.data.description}</p>
                  <p class="font-medium text-lg sm:text-xl">
                    {intlFormatter.format(new Date(post.data.pubDate))}
                  </p>
                </span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
