---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects">
  <main class="px-1 flex-1 grid justify-items-center sm:px-8">
    <div class="border-x-2 max-w-6xl w-full">
      <div
        class="bg-mauve gutter grid content-center border-b-2 max-h-64 py-20"
      >
        <h1 class="text-3xl sm:text-4xl font-bold text-neutral-100">
          Coming soon!
        </h1>
      </div>
    </div>
  </main></Layout
>
