---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;

console.log(frontmatter);
---

<Layout title={frontmatter.title}>
  <main class="px-1 flex-1 grid justify-items-center sm:px-8">
    <div class="border-x-2 max-w-6xl w-full">
      <div class="py-10 bg-x-teal gutter border-b-2">
        <div
          class="max-w-screen-sm mx-auto"
          transition:name={`${frontmatter.title}`}
        >
          <h1 class="text-3xl sm:text-4xl font-bold">
            {frontmatter.title}
          </h1>
        </div>
      </div>
      <div class="gutter py-10">
        <div class="prose prose-lg max-w-screen-sm mx-auto font-medium">
          <slot />
        </div>
      </div>
    </div>
  </main>
</Layout>
